@{
    ViewData["Title"] = "Details";
}

@model Quotes

<table class="table table-bordered table-striped">
    <tbody>
        <tr><th>Quote ID:</th><td>@Model.QuoteID</td></tr>
        <tr><th>Quote:</th><td>@Model.Quote</td></tr>
        <tr><th>Author:</th><td>@Model.Author</td></tr>
        <tr><th>Date:</th><td>@Model.Date</td></tr>
        <tr><th>Subject:</th><td>@Model.Subject</td></tr>
        <tr><th>Citation:</th><td>@Model.Citation</td></tr>        
    </tbody>
</table>

<a class="btn-secondary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-quoteid="@Model.QuoteID">Edit Quote</a>
<a class="btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-quoteid="@Model.QuoteID">Delete Quote</a>

